html, body, header, span, a, h4, footer, section, nav, ul, li{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html{
  height: 100%;
  box-sizing: inherit;
}

body{
  position: relative;
  line-height: 1;
  min-height: 100%;
  padding-bottom: 6rem;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  background: url("/extras/background.jpg");
}

header{
  background-color: #010101;
  width: 100%;
  height: 100px;
  font-size: 120%;
}

header span{
  opacity: .33;
  color: #009900;
  display: inline-block;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

header a{
  /*display: inline-block;*/
  color: #009900;
  text-decoration: none;
}

header .subtitle{
  /*display: inline-block;*/
  display: block;
  color: #009900;
  text-decoration: none;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  margin-top: 20px;
}

header nav ul{
  /*padding-left: 2em;*/
  display: block;
  width: fit-content;
  color: #009900;
  /*text-decoration: none;*/
}

header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 20px 16px;
}

header nav ul li a:hover{
  color: #99ff99;
  text-shadow: 1px 1px 1px #06db4c;
}

nav ul{
  list-style: none;
}

nav{
  display: block;
}

.footer{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  right:0;
  bottom:0;
  left:0;
  padding: 1rem;
  text-align: center;
  background-color: #010101;
  color: #fff;
  /*width: 100%;
  padding: 30px 30px;
  background-color: #010101;
  line-height: 25px;
  text-align: center;*/
}

.footer a{
  padding-right: 10px;
  color: #fff;
}

.footer a:hover{
  color: #009900;
}

.block{
  background-color: rgba(5,5,5,0.8);
  border-radius: 20px;
  padding: 20px 8%;
  width: 100%;
  color: #00ff00;
  align-items: center;
}

.bright{
  /*padding: 0px 5px 0px 5px;*/
  color: #00cc00;
}

.bright:hover{
  color: #99ff99;
}



.mainBlock{
  padding: 3% 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  line-height: 25px;
}

.review{
  color: #eee;
}

.review a{
  color: #999;
}

.review a:hover{
  color: #007700;
}

.references{
  color: #eee;
}

#btnTop{
  display: none;
  position: fixed;
  bottom: 120px;
  right: 5%;
  z-index: 99;
  font-size: 30px;
  border: solid;
  border-color: white;
  border-width: 2px;
  background-color: #007700;
  color: white;
  cursor: pointer;
  padding: 2px 20px;
  border-radius: 50px;
}

#btnTop:hover{
  background-color: #00dd00;
}

video{
  border-radius: 10px;
  width: 80%;
  height: 60%;
}

img{
  border-radius: 10px;
  width: 90%;
  height: 100%;
}

.mainpage{
  color: #ccc;
  line-height: 20px;
  text-align: center;
}

.player{
  color: #ccc;
  line-height: 15px;
  text-align: center;
}

.credits{
  line-height: 5px;
  text-align: right;
}

.credits a{
  color: #00cc00;
}

@media only screen and (min-width: 950px){
  header .subtitle{
    margin: 31px 0;
    text-align: center;
    line-height: 38px;
    padding: 0px 20px 0px 40px;
    border-right: 2px solid #009900;
    float: left;
  }

  header nav ul{
    margin: 20px 0px 0px 20px;
    float: left;
  }
}

@media only screen and (max-width: 949px){
  header nav ul{
    display: inline;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header .subtitle{
    float: left;
  }
}

@media only screen and (max-width: 772px){
  header nav ul{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header .subtitle{
    float: left;
  }
}

@media only screen and (max-width: 590px){
  header .subtitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  header{
    height: 150px;
  }
}

@media only screen and (max-width: 400px){
  .mainBlock{
    padding-bottom: 20%;
  }
}

@media only screen and (max-width: 340px){
  header{
    height: 210px;
  }
}

@media only screen and (max-width: 270px){
  header{
    height: 230px;
  }
}

@media only screen and (max-width: 250px){
  header{
    height: 260px;
  }

  .mainBlock{
    padding-bottom: 40%;
  }
}

/*From w3School*/
/*Edited by UP902282*/
/* Style the button that is used to open and close the collapsible content */
.collapse {
  background-color: rgba(0,0,0, 0.5);
  color: #eee;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  font-size: 18px;
  border-width: 1px;
  border-color: #007700;
  font-weight: bold;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapse:hover {
  background-color: #222;
  border-color: #00ff00;
  text-shadow: 0 0 2px #999, 0 0 5px #999;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgba(12, 12, 12, 0.5);
}

.content p{
  color: #eee;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.content a{
  color: #00aa00;
  font-weight: 900;
}

.collapse:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.discovery{
  color: #eee;
  text-align: center;
}

code{
  text-align: left;
  color: #ccc;
}

pre{
  color: #000;
}
