body{
  background: #0f0f0f;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  background: url("/extras/background.jpg")
}

header{
  background-color: #000
  font-size: 14pt;
}

span{
  opacity: .33;
  color: #009900;
  display: inline-block;
}

header nav{
  align-content: center;
}

header a{
  /*display: inline-block;*/
  color: #009900;
  text-decoration: none;
  text-shadow: 1px 1px 1px #007225;
}

header div a:hover{
  color: #99ff99;
  text-shadow: 1px 1px 1px #06db4c;
  display:inline;
}

header nav{
  padding-left: 2em;
  display: inline-block;
  text-align: center;
  color: #009900;
  text-decoration: none;
}

.bright{
  display: inline-block;
  padding: 0px 5px 0px 5px;
  color: #00cc00;
}

.bright:hover{
  color: #99ff99;
}

.title-container {
  display: inline;
}

.title-child {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
